
@{
    ViewBag.PageTitle = "Product Management";
    ViewBag.CardTitle = "Show All Products";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<table id="mytable" class="table table-hover" width="100%">
    <thead>
    <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Price</td>
        <td>Category</td>
        <td>
                <a href="/Admin/Product/Create" class="btn btn-primary">Create Category</a>

        </td>
    </tr>
    </thead>

</table>


@section Scripts{
    <script src="~/js/products.js"></script>
}